@font-face {
  src: url("put_the_location_to_your_font.ttf or .otf");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: rgba(96, 161, 163, 0.534);
  font-size: 3rem;
  line-height: 0.8rem;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
  overflow: hidden;
  position: relative;
}
.box {
  position: relative;
  width: 600px;
  height: 200px;
  background: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.iç {
  position: absolute;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 20px;
  inset: 5px;
  background: #0c1022;
  z-index: 1;
}
.box::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-image:linear-gradient(#add400,transparent,#fcfcfc);
  animation: animate 4s linear infinite;
  animation-delay: -2s;
}
.box::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 700px;
  height: 700px;
  background-image: linear-gradient(#3780bb,transparent,#ffffff);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.üst {
  display: inline-block;

  color: rgb(99, 124, 124);
}

.alt {
  width: 250px;
  display: inline-block;
  margin-top: 0;
  color: rgb(223, 81, 81);
}
span {
  width: 50px;
  letter-spacing: 5px;
  color: rgb(223, 81, 81);
}
